//모바일
$m-column-width: 90px;
$m-gutter-width: 20px;
$m-LR-padding: 30px;
$m-width: 420px;
$m-column: 4;
//태블릿
$t-column-width: 70px;
$t-gutter-width: 20px;
$t-LR-padding: 30px;
$t-width: 700px;
$t-column: 8;
//데스크탑
$d-column-width: 60px;
$d-gutter-width: 20px;
$d-LR-padding: 30px;
$d-width: 940px;
$d-column: 12;

//본문 글자크기
$root-font-size: 16px;

//row height
$row-grid-height: 24px;

//색상 
$design-color: #f3987b;
$light-gray: #4d4b4a;
$dark-gray: #413e3d; 
